table {
    border: 1px solid black;
    margin-top: 10px;
    border-spacing: 0;
}
th {
    font-weight: bold;
}
td, th {
    border: 1px solid black;
    width: 10em;
    text-align: center;
}

.error {
    font-weight: bold;
    color: red;
}

.disabled {
    color: gray;
    border: none;
    background: darkgray;
}
.enabled {
    color: black;
    border: solid;
    background: lightgray;
}